section.home-blog
  .container.home-blog__inner
    .home-blog__blog
      +section-center("TIN TỨC & BLOG")
      .home-blog__blog-wrapper
        +home-blog(1,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...")
        +home-blog(2,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long...")
    .home-blog__pass
      +section-center("KHÁCH HÀNG")
      .home-blog__pass-wrapper
        .home-blog__icon
          i.fas.fa-quote-right
        .home-blog__quote Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...
          a(href="#") Read more
        .home-blog__ava
          img(src="assets/images/passenger/1.png", alt="passenger")
        .home-blog__name GIANG LT
        .home-blog__job Graphic desgin
        .home-blog__dot
          a(href="#")
          a(href="#")
          a(href="#")