section.home-hotdeal
  .container.home-hotdeal__inner 
    img(src="assets/images/hot-deal/bg.png", alt="bg").home-hotdeal__bg
    .home-hotdeal__space
    .home-hotdeal__deal
      .home-hotdeal__deal--img
        p.home-hotdeal__deal--tag Sale
        img(src="assets/images/hot-deal/wine.png", alt="wine")
      .home-hotdeal__deal--detail
        +section-arrow("RƯỢU NHO NĂM 1987")
        .home-hotdeal__price 330.000#[span đ]
        a(href="#").btn ADD TO CART
        p.home-hotdeal__text Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
        .home-hotdeal__date
            p.price 334
              span NGÀY
            p.price 26
              span GIỜ
            p.price 60
              span PHÚT
            p.price 15
              span GIẤY

