section.home-new
  .container.home-new__inner
    a(href="#").home-new__left
      i.fas.fa-arrow-left
    +home-header-new("sale","Sale","new-product/1","RƯỢU VANG ĐÀ LẠT","370.000","450.000")
    +home-header-new("new","Mới","new-product/2","RƯỢU VANG ĐÀ LẠT","370.000","450.000")
    +home-header-new("hot","Hot","new-product/3","RƯỢU VANG ĐÀ LẠT","370.000","450.000")
    +home-header-new("none","","new-product/4","RƯỢU VANG ĐÀ LẠT","370.000","450.000")
    a(href="#").home-new__right
      i.fas.fa-arrow-right