section.pdDetail-detail
  .container.pdDetail-detail__inner
    .pdDetail-detail__img-wrapper
      .pdDetail-detail__img-list
        a(href="#")
          i.fas.fa-arrow-up
        div
          each val in ["1","1","2","3","1"]
            +pdDetail-detail-imglist(val)
        a(href="#")
          i.fas.fa-arrow-down
      .pdDetail-detail__img-big
        img(src="assets/images/product-detail/big.png" alt="")
    .pdDetail-detail__price-wrapper
      +section-arrow("RƯỢU NHO NĂM 1987")
      .price 330.000
        span đ
      .pdDetail-detail__rv
        .pdDetail-detail__rv--star
          span ☆
          span ☆
          span ☆
          span ☆
          span ☆
        a(href="#").pdDetail-detail__rv--link 1 Review(S)
        span |
        a(href="#").pdDetail-detail__rv--cmt Add Your Review
      form(action="#").pdDetail-detail__form
        .pdDetail-detail__color
          label(for="color") MÀU SẮC
          div
            input#color(type="radio", name="color" value="champagne" checked="checked")
            span.champagne
            input#color(type="radio", name="color" value="black")
            span.black
            input#color(type="radio", name="color" value="bordeaux")
            span.bordeaux
        .pdDetail-detail__dimension
          label(for="dimension") KÍCH CỠ
          select#dimension(name="dimension")
            option(value="big") Loại to
            option(value="medium") Loại vừa
            option(value="small") Loại nhỏ
        .pdDetail-detail__quantity
          label(for="quantity") SỐ LƯỢNG
          div  
            input(type="button" value="-" data-field="quantity").number
            input#quantity(type="number" name="quantity" step="1" min="1" value="1").number
            input(type="button" value="+" data-field="quantity").number
          input(type="submit" value="ADD TO CART").btn
      .pdDetail-detail__fav
        a(href="#")
          i.fas.fa-heart
          span Yêu thích
        a(href="#")
          i.fas.fa-signal
          span So sánh
        a(href="#")  
          i.fas.fa-envelope
          span Email
      .pdDetail-detail__des MÔ TẢ
        p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.

