footer.footer
  .container
    .footer__brands
      img(src="assets/images/brands/brands.png", alt="Brands")
    .footer__menu
      .footer__menu--info
        +footer-menu-header("THÔNG TIN")
        each val in ["VỀ CHÚNG TÔI","GIAO HÀNG","CẢM NGHĨ","LƯU TRỮ","CHÍNH SÁCH RIÊNG TƯ"]
          +footer-menu-list(val)
      .footer__menu--order
        +footer-menu-header("MUA HÀNG")
        each val in ["VẬN CHUYỂN VÀ TRẢ HÀNG","MUA HÀNG AN TOÀN","VẬN QUỐC TẾ","LIÊN KẾT","DỊCH VỤ GIẢM GIÁ"]
          +footer-menu-list(val)
      .footer__menu--email
        +footer-menu-header("GỬI EMAIL")
        .footer__menu--form
          p Gửi email cho chúng tôi để được hỗ trợ
          form(action="#" method="get")
            input(type="email" placeholder="Enter your email")
            button(type="Submit", value="Submit") Gửi
        .footer__menu--media
          each media in ["twitter","google-plus-g","dribbble","linkedin-in","rss"]
            +footer-menu-media(media)
      .footer__menu--contact
        +footer-menu-header("LIÊN HỆ")
        ul.footer__menu--contact-wrapper
          li.footer__menu--contact-list
            i.fas.fa-map-marker-alt
            span Tầng 4, Tòa nhà Hanoi Group. Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
          li.footer__menu--contact-list
            a(href="tel: +840466742332")
              i.fas.fa-phone
              span (04) 6674 2332
            a(href="tel: +840437868904")
              i.fas.fa-phone
              span (04) 3786 8904
          li.footer__menu--contact-list
            a(href="tel: +840866809686")  
              i.fas.fa-phone
              span (08) 6680 9686
            a(href="mailto:Support@bizweb.vn")
              i.fas.fa-envelope
              span Support@bizweb.vn
  .footer__bot
    .container.footer__bot--inner
      .footer__bot--left
        p &#169; Copyright 2008-2014 DKT Technology JSC
      .footer__bot--right
        each val in ["mastercard","visa","paypal"]
          +footer-payment(val)

