section.menu
  .container.menu__inner
    //- 2 in 12 cols
    a(href="#").menu__logo
      img(src="assets/images/logo/logo.png", alt="Logo")
    //- 10 in 12 cols
    .menu__nav
      .menu__nav--inner
        i.fas.fa-bars 
        ul.menu__nav--list
          +menu-nav("TRANG CHỦ")
          +menu-nav("RƯỢU VANG ĐỎ")
          +menu-nav("RƯỢU TRẮNG")
          +menu-nav("CHAMPAGNE")
          +menu-nav("THÔNG TIN")
          +menu-nav("BLOG")
          +menu-nav("LIÊN HỆ")