//- Home page
extends layout.pug
block header
  include parts/home/header-home.pug
block main
  include parts/home/intro-home.pug
  include parts/home/hot-deal.pug
  include parts/home/new-products.pug
  include parts/home/gallery.pug
  include parts/home/top-sales.pug
  include parts/home/blog-news.pug
  