section.error
  img(src="assets/images/404/error.png", alt="404 error").error__bg
  .error__group
    img(src="assets/images/logo/logo-black.png", alt="logo").error__logo
    .error__link
      div
        a(href="index.html") TRANG CHỦ
        i.fas.fa-caret-right
      div
        a(href="contact.html") LIÊN HỆ
        i.fas.fa-caret-right
      form(action="#", method="get")
        button(type="submit")
          i.fas.fa-search
        input(type="text", name="search")
