.products__list
  .products__list-items
    +section-arrow("DANH MỤC SẢN PHẨM")
    .products__list--all
      .products__list--all-wrapper
        h5 RƯỢU NGOẠI
        ul.products__list--ul
          +products-list("Rượu Chivas","(26)")
          +products-list("Hàng độc - Rượu độc đáo","(36)")
          +products-list("Johnnie Walker","(46)")
          +products-list("Rượu Whisky","(24)")
          +products-list("Rượu Remy Martin","(16)")
          +products-list("Rượu Glenmorangie","(11)")
          +products-list("Rượu Ballantine's","(7)")
          +products-list("Rượu Cognac","(40)")
          +products-list("Rượu Vodka","(93)")
          +products-list("Rượu Macallan","(19)")
          +products-list("Rượu Brandy","(62)")
          +products-list("Rượu Hennessy","(20)")
          +products-list("Rượu Gin - Tequila - Liqueur - Rượu mùi","(36)")
          +products-list("Rượu Champagne","(12)")
          +products-list("Rượu Single malt Scotch whisky","(47)")
          +products-list("Rượu Spirits","(4)")
      .products__list--all-wrapper
        h5 RƯỢU VANG
        ul.products__list--ul
          +products-list("Rượu Vang Pháp","(44)")
          +products-list("Rượu Vang Úc","(34)")
          +products-list("Rượu Vang Mỹ","(16)")
          +products-list("Rượu Vang Chile","(48)")
          +products-list("Rượu Vang Philip","(1)")
          +products-list("Rượu Vang Nam Phi","(20)")
          +products-list("Rượu Vang Ý","(2)")
  .products__list-items
    +section-arrow("SO SÁNH SẢN PHẨM")
    .products__list--compare
      p Bạn chưa có sản phẩm nào để so sánh
  .products__list-items
    +section-arrow("TAG SẢN PHẨM")
    .products__list--tag
      a(href="#") Đồng hồ
      a(href="#") Túi
      a(href="#") Phụ kiện
      a(href="#") Giày
      a(href="#") Sandal
      a(href="#") Áo sơ mi
      a(href="#") Nước hoa
      a(href="#") Trẻ em
      a(href="#") Thời trang nữ
  img(src="assets/images/products/ads.jpg", alt="").products__list--img