section.blog
  .container
    +section-arrow("BLOG")
    .blog__inner
      +home-blog(1,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...")
      +home-blog(2,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long...")
      +home-blog(1,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...")
      +home-blog(2,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long...")
      +home-blog(1,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...")
      +home-blog(2,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long...")
      +home-blog(1,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...")
      +home-blog(2,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long...")
      +home-blog(1,"VANG THĂNG LONG CLASSIC","Giangle","30/06/2015","60","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...")